# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env


# Vim temporary files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Vim session
Session.vim
Sessionx.vim

# Vim temporary
.netrwhist
*~

# Vim persistent undo
[._]*.un~

# Vim tags
tags
tags.*

# Emacs temporary files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

# Emacs auto-save files
auto-save-list
tramp
.\#*

# Emacs eshell files
/eshell/history
/eshell/lastdir

# Emacs projectiles files
.projectile

# Emacs directory configuration
.dir-locals.el

# Emacs cache directory
.cache/

# Emacs backup directory
backup/

# some my db files
*.db